
/* above-ground-parking-lot start */

.buttomPPB {
  margin-top: 69.7% !important;
    width: 200px;
    position: absolute;
    font-weight: 500;
    fill: #000;
    color: #000;
    background-color: #FFF;
    border: solid 1px #9A9A9A;
    border-radius: 0;
    font-size: 18px;
    padding: 20px 40px;
    text-decoration: none;
    z-index: 30;
    margin: 5px auto;
    display: block;
    text-align: center;
    left:50%;
 transform: translateX(-50%);
    }
    .map, .buttomPPB {
        margin: 5px;
    }

.garage,.storageRooms {
    font-size:19px!important;
    margin-bottom:22px;
    font-weight:700
    }
    



    
    
    .groundFloor,.lokal {
    font-size:22px
    }


    .premiseStatus1,
.premiseStatus2,
.premiseStatus3,
.premiseStatus4,
.premiseStatus5,
.premiseStatus6,
.premiseStatus7,
.premiseStatus8,
.premiseStatus9,
.premiseStatus10,
.premiseStatus11,
.premiseStatus12,
.premiseStatus13,
.premiseStatus14,
.premiseStatus15,
.premiseStatus16,
.premiseStatus17,
.premiseStatus18,
.premiseStatus19,
.premiseStatus20,
.premiseStatus21,
.premiseStatus22,
.premiseStatus23,
.premiseStatus24,
.premiseStatus25,
.premiseStatus26,
.premiseStatus27,
.premiseStatus28,
.premiseStatus29,
.premiseStatus30,
.premiseStatus31,
.premiseStatus32,
.premiseStatus33,
.premiseStatus34,
.premiseStatus35,
.premiseStatus36,
.premiseStatus37,
.premiseStatus38,
.premiseStatus39,
.premiseStatus40,
.premiseStatus41,
.premiseStatus42,
.premiseStatus43,
.premiseStatus44,
.premiseStatus45,
.premiseStatus46,
.premiseStatus47,
.premiseStatus48,
.premiseStatus49,
.premiseStatus50,
.premiseStatus51,
.premiseStatus52,
.premiseStatus53,
.premiseStatus54,
.premiseStatus55,
.premiseStatus56,
.premiseStatus57,
.premiseStatus58,
.premiseStatus59,
.premiseStatus60,
.premiseStatus61,
.premiseStatus62,
.premiseStatus63,
.premiseStatus64,
.premiseStatus65,
.premiseStatus66,
.premiseStatus67,
.premiseStatus68,
.premiseStatus69,
.premiseStatus70,
.premiseStatus71,
.premiseStatus72,
.premiseStatus73,
.premiseStatus74,
.premiseStatus75,
.premiseStatus76,
.premiseStatus77,
.premiseStatus78,
.premiseStatus79,
.premiseStatus80,
.premiseStatus81,
.premiseStatus82,
.premiseStatus83,
.premiseStatus84,
.premiseStatus85,
.premiseStatus86,
.premiseStatus87,
.premiseStatus88,
.premiseStatus89,
.premiseStatus90,
.premiseStatus91,
.premiseStatus92,
.premiseStatus93,
.premiseStatus94,
.premiseStatus95,
.premiseStatus96,
.premiseStatus97,
.premiseStatus98,
.premiseStatus99,
.premiseStatus100,
.premiseStatus101,
.premiseStatus102,
.premiseStatus103,
.premiseStatus104,
.premiseStatus105,
.premiseStatus106
{
position: relative;
font-size: 15px;
left: 7px;
}
  #columns
  {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap:7px;
    margin-top: 75%;
    margin-bottom: 2%;
    width: 55%;
    transform: translateX(-50%);
    left: 50%;
   
  }


  .parkingTable
  {

   
    position: relative;
    border-radius: 7%;
    border-bottom: 2px solid rgb(108, 108, 108);
margin-bottom: 32px;
    padding: 0.2rem;
  }
    
  #parkingNumber
  {
    position: relative;
    font-size: 15px;



  }
   .parkingBody
   {
    position: relative;
    display: flex;

   }
  

    
    .banner {
    width:100%;
    height:auto;
    margin-bottom:1%
    }

    .bannerGallery
    {
    width:100%;
    height:90%;
    margin-bottom:1%   
    }
    .mapContener
    {
        position: relative;

    }

    .map {
        position: absolute; 
        width: 70%;
        height: auto;
        border: none;
        display: block;
       left: 50%;
    transform: translateX(-50%);

        
    }

    .svg {
      position: absolute; 
      width: 70%;
      height: auto;
      border: none;
      display: block;
     left: 50%;
  transform: translateX(-50%);

      
  }



 
  



  .description, .description35,
  .description40, .description41, .description42, .description43, .description44, .description45, .description46, .description47, .description48, .description49, .description50, .description51, .description52, .description53, .description54, .description55, .description56, .description57, .description58, .description59, .description60, .description61, .description62, .description63, .description64, .description65, .description66, .description67, .description68, .description69, .description70, .description71, .description72, .description73, .description74, .description75, .description76, .description77, .description78, .description79, .description80, .description81, .description82, .description83, .description84, .description85, .description86, .description87, .description88, .description89, .description90, .description91, .description92, .description93, .description94, .description95, .description96, .description97, .description98, .description99, .description100, .description101, .description102, .description103, .description104, .description105, .description106 {
    position: absolute;
    font-size: 15px;
    text-align: center;
    backdrop-filter:blur(5px);
    background-color:rgba(255, 255, 255, 0.407);
    padding: 7px 7px;
    display: none;
    z-index: 5;
    margin: 0 auto;
    border-radius: 5px;

  
  }

 






  .show
  {
    display: block !important ;
  }
  .show35, .show40, .show41, .show42, .show43, .show44, .show45, .show46, .show47, .show48, .show49, .show50, .show51, .show52, .show53, .show54, .show55, .show56, .show57, .show58, .show59, .show60, .show61, .show62, .show63, .show64, .show65, .show66, .show67, .show68, .show69, .show70, .show71, .show72, .show73, .show74, .show75, .show76, .show77, .show78, .show79, .show80, .show81, .show82, .show83, .show84, .show85, .show86, .show87, .show88, .show89, .show90, .show91, .show92, .show93, .show94, .show95, .show96, .show97, .show98, .show99, .show100, .show101, .show102, .show103, .show104, .show105, .show106
  {
    display: block !important ;
  }

  .show35:hover, .show36:hover, .show37:hover, .show38:hover, .show39:hover, .show40:hover, .show41:hover, .show42:hover, .show43:hover, .show44:hover, .show45:hover, .show46:hover, .show47:hover, .show48:hover, .show49:hover, .show50:hover, .show51:hover, .show52:hover, .show53:hover, .show54:hover, .show55:hover, .show56:hover, .show57:hover, .show58:hover, .show59:hover, .show60:hover, .show61:hover, .show62:hover, .show63:hover, .show64:hover, .show65:hover, .show66:hover, .show67:hover, .show68:hover, .show69:hover, .show70:hover, .show71:hover, .show72:hover, .show73:hover, .show74:hover, .show75:hover, .show76:hover, .show77:hover, .show78:hover, .show79:hover, .show80:hover, .show81:hover, .show82:hover, .show83:hover, .show84:hover, .show85:hover, .show86:hover, .show87:hover, .show88:hover, .show89:hover, .show90:hover, .show91:hover, .show92:hover, .show93:hover, .show94:hover, .show95:hover, .show96:hover, .show97:hover, .show98:hover, .show99:hover, .show100:hover, .show101:hover, .show102:hover, .show103:hover, .show104:hover, .show105:hover, .show106:hover
  {
  
    background-color:rgb(255, 255, 255);
    backdrop-filter:blur(100px);
   z-index: 7;
  }
  

  .show:hover
  {
    background-color:rgb(255, 255, 255);
    backdrop-filter:blur(100px);
   z-index: 7;
  }


path:hover
{
fill: #ffffffb0  !important;
 
 animation: pulsate 1s infinite
}



  @keyframes pulsate {
  0% {
    filter: drop-shadow(0px 0px 10px #fff);
  }
  50% {
    filter: drop-shadow(0px 0px 30px #fff);
  }

  70% {
    filter: drop-shadow(0px 0px 350px #81d2f8);
  }
  20% {
    filter: drop-shadow(0px 0px 50px  #9fe0f9);
  }
  100% {
    filter: drop-shadow(0px 0px 0px #fff);
  }
} 
 
  
    

    @media (max-width: 2000px) {
 

    }
    @media (max-width: 1050px) {


        .buttomPPB {
          margin-top:98% !important;
            font-size:10px!important
            }



    .map {
    width:97%;
    height:auto

    }
    svg
    {
        width:80%;
        height:auto  
    }
    }
    


    @media (max-width:1100px)
    {
        #columns
  {

  
    margin-top: 105%;
    margin-bottom: 2%;
  


  }
        
     
    }

    @media (max-width: 600px),(max-width: 450px),(max-width: 350px),(max-width: 250px) {

   .buttomPPB {
    padding: 15px 15px;
                font-size:8px;
          
                }

   .bannerGallery
    {
    width:100%;
    height:auto;
    margin-bottom:1%   
    }
    .garage,.storageRooms {

    margin-bottom:13px
    }


    #columns
    {
   margin-top: 117%;
  

    }



    

  .description, .description35,
  .description40, .description41, .description42, .description43, .description44, .description45, .description46, .description47, .description48, .description49, .description50, .description51, .description52, .description53, .description54, .description55, .description56, .description57, .description58, .description59, .description60, .description61, .description62, .description63, .description64, .description65, .description66, .description67, .description68, .description69, .description70, .description71, .description72, .description73, .description74, .description75, .description76, .description77, .description78, .description79, .description80, .description81, .description82, .description83, .description84, .description85, .description86, .description87, .description88, .description89, .description90, .description91, .description92, .description93, .description94, .description95, .description96, .description97, .description98, .description99, .description100, .description101, .description102, .description103, .description104, .description105, .description106 {

    font-size: 8px;
    padding: 3px 3px;
  

  
  }
  .premiseStatus1,
  .premiseStatus2,
  .premiseStatus3,
  .premiseStatus4,
  .premiseStatus5,
  .premiseStatus6,
  .premiseStatus7,
  .premiseStatus8,
  .premiseStatus9,
  .premiseStatus10,
  .premiseStatus11,
  .premiseStatus12,
  .premiseStatus13,
  .premiseStatus14,
  .premiseStatus15,
  .premiseStatus16,
  .premiseStatus17,
  .premiseStatus18,
  .premiseStatus19,
  .premiseStatus20,
  .premiseStatus21,
  .premiseStatus22,
  .premiseStatus23,
  .premiseStatus24,
  .premiseStatus25,
  .premiseStatus26,
  .premiseStatus27,
  .premiseStatus28,
  .premiseStatus29,
  .premiseStatus30,
  .premiseStatus31,
  .premiseStatus32,
  .premiseStatus33,
  .premiseStatus34,
  .premiseStatus35,
  .premiseStatus36,
  .premiseStatus37,
  .premiseStatus38,
  .premiseStatus39,
  .premiseStatus40,
  .premiseStatus41,
  .premiseStatus42,
  .premiseStatus43,
  .premiseStatus44,
  .premiseStatus45,
  .premiseStatus46,
  .premiseStatus47,
  .premiseStatus48,
  .premiseStatus49,
  .premiseStatus50,
  .premiseStatus51,
  .premiseStatus52,
  .premiseStatus53,
  .premiseStatus54,
  .premiseStatus55,
  .premiseStatus56,
  .premiseStatus57,
  .premiseStatus58,
  .premiseStatus59,
  .premiseStatus60,
  .premiseStatus61,
  .premiseStatus62,
  .premiseStatus63,
  .premiseStatus64,
  .premiseStatus65,
  .premiseStatus66,
  .premiseStatus67,
  .premiseStatus68,
  .premiseStatus69,
  .premiseStatus70,
  .premiseStatus71,
  .premiseStatus72,
  .premiseStatus73,
  .premiseStatus74,
  .premiseStatus75,
  .premiseStatus76,
  .premiseStatus77,
  .premiseStatus78,
  .premiseStatus79,
  .premiseStatus80,
  .premiseStatus81,
  .premiseStatus82,
  .premiseStatus83,
  .premiseStatus84,
  .premiseStatus85,
  .premiseStatus86,
  .premiseStatus87,
  .premiseStatus88,
  .premiseStatus89,
  .premiseStatus90,
  .premiseStatus91,
  .premiseStatus92,
  .premiseStatus93,
  .premiseStatus94,
  .premiseStatus95,
  .premiseStatus96,
  .premiseStatus97,
  .premiseStatus98,
  .premiseStatus99,
  .premiseStatus100,
  .premiseStatus101,
  .premiseStatus102,
  .premiseStatus103,
  .premiseStatus104,
  .premiseStatus105,
  .premiseStatus106
  {
  position: relative;
  font-size:8px;
  left: 0px;
  }

    }
    /* above-ground-parking-lot start */




    @media  (max-width: 350px)
    {
        #columns
        {
     
          grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  
        }
    }

  
  