

/* gallery start */
.galleryHeader
{
  height: 85%;
  max-width: 100%;
  background: url(/image/theEntireInvestor.webp) center; 
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}


@media (max-width: 500px) { 
  @supports (-webkit-appearance:none) {
    .galleryHeader
    {
      height: 85%;
      max-width: 100%;
      background: url(/image/theEntireInvestor.webp) center; 
      background-size: cover;
      background-attachment: local;
      display: flex;
      flex-direction: column;
    }
    
  }
}




div.gallery img {
  width: 100%;
 height: 150px;
margin-bottom: 30px;

}

.titleTextGallery
{

  margin-top: 100px;
  font-size: 60px !important;
}

*:not(.fa,.popup-content) {
  box-sizing: border-box;
}
.responsive {
  padding: 6 6px;
  float: left;
  width: 24.99999%;
  
}
section
{
  margin-bottom:300px !important;
}


@media only screen and (max-width: 950px) {
  .titleTextGallery
  {
margin-top: 100px !important;
font-size: 30px !important;
  }
  .galleryHeader
  {
    height:40% !important;
  }
  div.gallery img {
    max-width: 100%;
   height: 150px;
  margin-bottom: 30px;
  
  }
  
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
  width: 100%;
  }
  section
{
  margin-bottom:570px !important;
}

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#galleryText
{
width: 80%;
margin-left: 5%;
margin-bottom: 30px;
margin-top: 30px;
} 






/* gallery end */

