
/* underground-garages-A start */
.buttomPPB {
    font-weight:500;
    fill:#000;
    color:#000;
    background-color:#FFF;
    border-style:solid;
    border-width:1px;
    border-color:#9A9A9A;
    border-radius:0 0 0 0;
    font-size:18px;
    padding:20px 40px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 0%;
    text-decoration:none;
    }
    
    .garage,.storageRooms {
    font-size:20px!important;
    margin-bottom:22px;
    font-weight:700;
    }
    
    .premiseStatus01PPB {
    font-size:22px;
    }
    
    figcaption {
    border-bottom:1px solid #ccc;
    display:flex;
    margin:5px;
    margin-top:5px;
    margin-bottom:0;
    font-size:22px;
    font-weight:500;
    }
    
    .groundFloor,.lokal {
    font-size:22px;
    }
    
    div#columns figure {
    width:100%;
    max-width:250px;
    }
    
    div#columns figure figcaption {
    font-size:17px;
    font-family:'Open Sans'
    }
    
    div#columns small {
    font-size:17px;
    color:#aaa;
    }
    
    div#columns small a {
    color:#666;
    }
    
    div#columns:hover figure:not(:hover) {
    opacity:.6;
    }
    
    .banner {
    width:100%;
    height:auto;
    margin-bottom:1%
    }
    
    .map {
    width:90%;
    height:90%;
    border:none;
    display:block;
    margin:0 auto;
    margin-bottom:0
    }
    
    #columns {
    column-width:300px;
    column-gap:50px;
    position:relative;
    width:50%;
    display:flex;
    justify-content:center;
    margin:0 auto
    }
    
    .popupImageMap {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index:999
    }
    
    .popupContentImageMap {
    max-width:95%;
    max-height:95%;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:5px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:100
    }

    @media (max-width:1100px)
    {
        .buttomPPB {
            font-size:12px!important
            }
            #columns {
        
                display:table !important;
             
                column-gap:0px;
                margin-left: 400px !important;
                }
                .map {
                    width:70%;
                    height:auto
                    }
            
    }
    
    @media (max-width:970px)
    {
        #columns {
    
            margin-left: 350px !important;
            }  
    }

    @media (max-width:840px)
    {
        #columns {
            margin-left: 300px !important;
            }  
    }

    @media (max-width:750px)
    {
        #columns {
            margin-left: 250px !important;
            }  
            .buttomPPB {

                font-size:15px;
                padding:10px 10px;
                margin-top:10px;
                margin-bottom:10px
                }
    }

    @media (max-width:650px)
    {
        #columns {
            margin-left: 150px !important;
            }  
    }

    @media (max-width:550px)
    {
        #columns {
            margin-left: 100px !important;
            }  
    }

    @media (max-width:450px)
    {
        .garage,.storageRooms {
            font-size:17px!important;
        
          
            }
        #columns {
            margin-left: 80px !important;
            } 
    }
    @media (max-width:400px)
    {
        .buttomPPB {
            font-size:9px!important
            }
        #columns {
            margin-left: 50px !important;
            } 
    }
    .buttomPPB {


        margin-left: 13% !important;
        }
    @media (max-width:310px)
    {
     

            .buttomPPB {

                font-size:9px;
                padding:10px 10px;
                margin-top:10px;
                margin-bottom:10px;
                margin-left: 30% !important;
                }
        #columns {
            margin-left: 20px !important;
            } 
    }



    /* underground-garages-A end */