

.media,header {
background-size: cover;
background-attachment: fixed;
display: flex;
flex-direction: column;
height: 60% !important;
}



.media {
  height: 100%;
  width: 100%
}

.media,header {
background: url(../public/assets/images/media.jpg)center;
background-size: cover;
background-attachment: fixed;
display: flex;
flex-direction: column;
}

.media {
  font-size: 70px;
  font-weight: 700;
  margin: auto
}



.centerMedia p,.media {
font-size: 70px;
font-weight: 700
}

.media {
margin: auto
}

.centerMedia p {
margin-bottom: 40px
}

.centerMedia {
margin: 10%;
text-align: left;
color: #fff
}


.videoMedia {
position: relative;
width: 300px;
height: 50%
}

#buttomMedia {
width: 100px;
color: #5d5455!important;
border: 3px solid #5d5455!important;
background-color: transparent;
outline: 0;
padding: 20px;
font-size: 35px;
border-radius: 5px;
font-family: "Times New Roman",Times,serif
}

.containerMediae {
display: flex;
align-items: center;
justify-content: center
}

.containerMediaeBox0,.containerMediaeBox1,.containerMediaeBox2,.containerMediaeBox3 {
position: relative;
width: 550px;
height: 394px;
overflow: hidden;
border-radius: 2%
}

.imgContainerMediae0,.imgContainerMediae1,.imgContainerMediae2,.imgContainerMediae3,.imgContainerMediae4,.imgContainerMediae5,.imgContainerMediae6,.imgContainerMediae7 {
position: absolute;
margin-left: 0;
margin-right: 0;
margin-bottom: 5%;
width: 100%;
height: 100%;
border-radius: 1%;
transition: transform 3s ease,opacity .3s ease
}

.textContainerMediae {
font-size: 20px;
max-width: 60%;
margin-right: 2%;
margin-bottom: 5%;
margin-top: 5%;
color: #5d5455;
padding-left: 2%
}



.buttomMediaText {
margin-top: 0!important;
margin-left: 0;
background-color: transparent;
outline: 0;
padding: 15px;
font-size: 17px;
border-radius: 5px
}


.buttomMediaText {
border: 3px solid #5d5455
}

.buttomMediaText {
color: #020000;
text-align: center;
transform: translateX(-50%);
left: 50%;
width: 20%
}



@media (max-width:1100px) {
.containerMediaeBox0,.containerMediaeBox1,.containerMediaeBox2,.containerMediaeBox3 {
  position: relative;
  width: 550px;
  height: 309px;
  overflow: hidden;
  margin-bottom: 5%;
  margin-top: 5%;
  transform: translateX(-50%);
  left: 50%
}


.centerMedia p,.media {
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: 700
}

.centerMedia p {
  margin-top: 150px
}
}

@media (max-width:950px) {
.videoMedia {
  position: relative;
  width: 100%;
  height: 50%
}


.centerMedia,.media {
  margin: auto;
  text-align: left;
  color: #fff
}



.media {
  height: 60%
}


.centerMedia p,.media {
  font-size: 35px;
  font-weight: 700
}

.containerMedia{
  display: block;
  align-items: center;
  justify-content: center
}



}

@media (max-width:770px) {
.containerMediaeBox0,.containerMediaeBox1,.containerMediaeBox2,.containerMediaeBox3 {
  width: 450px;
  height: 253px
}


}


@media (max-width:645px) {


.media {
  height: 60%
}

.media {
  background-size: cover!important;
  background-attachment: scroll!important
}

.centerMedia p {
  margin-top: 50px;
  font-size: 25px;
  margin-left: 20px
}


}



@media (max-width:450px) {
.containerMediaeBox0,.containerMediaeBox1,.containerMediaeBox2,.containerMediaeBox3 {
  width: 350px;
  height: 197px
}

}
