#sldierOffer
{

position: relative;
display: flex;

width: 90%;
margin-top: 5%;
margin-bottom:5%;
margin-left: 5%;
margin-right: 5%;
animation: mymove infinite;
animation-duration: 3s;
}

@keyframes mymove {
    from {left: -100px;}
    to {left: 10px;}
   
  }

.images
{
  display: none;
    position: relative;
  
    width: 600px;
    height:500px;
}


.banner
{
    background-color:#EFEFED;
    position: relative;
    width: 100%;
    height: auto;
    display: none;  
   text-align: right;
 
}

.bannerText
{

    width: 50%;
    position: absolute; 
    margin-left: 48%;
    line-height: 1.2;
    font-size: 25px;
    color: #b6c0cb;
    top:22%;
    z-index: 2;
}
.bannerTextTwo
{ 

    position: relative;
    margin-top: 3%; 
    color: #3d3d3d;
    font-size: 50px;
 
}

.bannerTextThree
{

color: #3d3d3d;
font-size: 25px;
z-index: 99;
}
@media (max-width: 1030px) {


.bannerText
{
  
    width: 95%;
    position: absolute; 
    margin-left: 2%;
    line-height: 1.2;
    font-size: 25px;
    color: #b6c0cb;
    top:50%;

}
.banner
{
    background-color:#EFEFED;
    position: relative;
    width: 100%;
    height:700px;
    display: none;  
   text-align: right;
 
}

.bannerTextTwo
{ 

    position: relative;
    margin-top: 3%; 
    color: #3d3d3d;
    font-size: 30px;
   
}
   
.images
{
  display: none;
    position: relative;
  
    width: 65%;
    height:auto;
}

}
@media (max-width: 390px) {
.bannerText
{
  
    width: 95%;
    position: absolute; 
    margin-left: 2%;
    line-height: 1.2;
    font-size: 25px;
    color: #b6c0cb;
    top:35%;
    z-index: 99;
}
}